<% if admin_signed_in? %>
  <div class="grid justify-items-end">
    <button class=" bg-transparent px-4 py-1 text-sm text-pink-600 font-semibold rounded-full border border-pink-600 hover:text-white hover:bg-pink-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-pink-600 focus:ring-offset-2"><%= link_to "LogOut", destroy_admin_session_path, method: :delete %></button>
  </div> 
  
  <div data-controller="hello">
    <h1>Hola estas en el Home Page con Admin ingresado!</h1>
  </div>

  <button class="bg-pink-600 px-4 py-1 text-sm text-white font-semibold rounded-full border border-pink-600 hover:text-pink-600 hover:bg-white hover:border-pink-600 focus:outline-none focus:ring-2 focus:ring-pink-600 focus:ring-offset-2"><%= link_to "Professions", professions_path %></button>
  <button class="bg-pink-600 px-4 py-1 text-sm text-white font-semibold rounded-full border border-pink-600 hover:text-pink-600 hover:bg-white hover:border-pink-600 focus:outline-none focus:ring-2 focus:ring-pink-600 focus:ring-offset-2"><%= link_to "Partners", partners_path %></button>


<% else %>
  <div class="place-content-center h-64 py-8 px-8 max-w-xl max-h-64 mx-auto bg-white rounded-xl shadow-md space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
    <div>
      <h1 class="flex justify-center text-4xl text-black font-semibold">Welcome to SaludTech</h1>
      <p class="flex justify-center text-2xl text-gray-500 font-medium">
        Assignment for Práctica II
      </p>
      <br>

      <div class="flex justify-center bg-pink-600 px-4 py-1 text-sm text-xl text-white font-semibold rounded-full border border-pink-600 hover:text-pink-600 hover:bg-white hover:border-pink-600 focus:outline-none focus:ring-2 focus:ring-pink-600 focus:ring-offset-2"><%= link_to "SignUp", new_admin_registration_path %></div>
      <div class="flex justify-center bg-transparent px-4 py-1 text-sm text-pink-600 font-semibold "><%= link_to "LogIn", admin_session_path %></div>
    </div>
  </div>
<% end %>
